@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, "Hiragino Sans", "Noto Sans JP", sans-serif;
  background: #050410;
}
.font-serif {
  font-family: "Hiragino Mincho ProN", "Yu Mincho", Georgia, serif;
}
